h2#question {
    font-size: 100px;
    margin-bottom: 5px;
    margin-top: 5px;
}
body {
    margin: 0px;
    padding: 0px;
}

#main, #settings, #log {
    border: 1px dashed #000;
}

#main {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    margin-top: 0px;
    text-align: center;
}
#settings {
    position: fixed; 
    width: 200px;
    right: 0px;
    top: 0px;
}

#dictionaries, #dictionaries ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 10px;
}

#log {
    margin: 0px;
    font-size: 11px;
    width: 200px;
    padding-left: 2px;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    text-align: left;
}

#log ul {
    list-style-type: none;
    font-size: 16px;
}
.correct {color: #0a0;}
.wrong {color: #f00;}
.correctAfterFirstGuess {color: #aa0;}

#statistics var {
    font-style: normal;
}



